<a href="https://colab.research.google.com/github/Inshatamboli/Heart-Failure-prediction/blob/main/Python_Assignment_4(File_Handling).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [3]:
 pd.read_csv('/content/heart_failure..csv')

     Unnamed: 0   age anaemia  ...  smoking time  DEATH_EVENT
0             0  75.0      No  ...       No    4            1
1             1  55.0      No  ...       No    6            1
2             2  65.0      No  ...      Yes    7            1
3             3  50.0     Yes  ...       No    7            1
4             4  65.0     Yes  ...       No    8            1
..          ...   ...     ...  ...      ...  ...          ...
294         294  62.0      No  ...      Yes  270            0
295         295  55.0      No  ...       No  271            0
296         296  45.0      No  ...       No  278            0
297         297  45.0      No  ...      Yes  280            0
298         298  50.0      No  ...      Yes  285            0

[299 rows x 14 columns]

In [4]:
file = open('/content/heart_failure..csv')
print(file.read(100))

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum

In [5]:
file = open('/content/heart_failure..csv',"r")
print(file.read(10))

,age,anaem

In [8]:
file.closed

False

In [9]:
file.mode

'r'

In [10]:
file.name

'/content/heart_failure..csv'

In [21]:
heart_failure= open('/content/heart_failure..csv')
print(heart_failure)

<_io.TextIOWrapper name='/content/heart_failure..csv' mode='r' encoding='UTF-8'>

In [22]:
heart_failure = open("/content/heart_failure..csv")
heart_failure.write

In [23]:
heart_failure = open('/content/heart_failure..csv')
str = heart_failure.read(10)

In [31]:
position = heart_failure.tell()
print(position)

10

In [34]:
heart_failure=pd.read_csv('/content/heart_failure..csv')
print(heart_failure)

     Unnamed: 0   age anaemia  ...  smoking time  DEATH_EVENT
0             0  75.0      No  ...       No    4            1
1             1  55.0      No  ...       No    6            1
2             2  65.0      No  ...      Yes    7            1
3             3  50.0     Yes  ...       No    7            1
4             4  65.0     Yes  ...       No    8            1
..          ...   ...     ...  ...      ...  ...          ...
294         294  62.0      No  ...      Yes  270            0
295         295  55.0      No  ...       No  271            0
296         296  45.0      No  ...       No  278            0
297         297  45.0      No  ...      Yes  280            0
298         298  50.0      No  ...      Yes  285            0

[299 rows x 14 columns]

In [37]:
os.rename("/content/heart_failure..csv", "heartfailure_csv")

In [38]:
os.remove("heartfailure_csv")